<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.brainstation23.topandroidrepositories">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".service.app.BrainApp"
        android:allowBackup="true"
        android:icon="@drawable/bs"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.home.view.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.preview.view.PreviewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!--Initializer-->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.brainstation23.topandroidrepositories.service.initializer.FrescoInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.brainstation23.topandroidrepositories.service.initializer.StethoInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.brainstation23.topandroidrepositories.service.initializer.TimberInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.brainstation23.topandroidrepositories.service.initializer.ToastyInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>